# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# typescript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of `npm pack`
*.tgz

# Yarn Integrity file
.yarn-integrity

# Astro
dist

# Obsidian
.obsidian-temp.md

# Uploads
public/uploads

# claude
.claude
CLAUDE.md
.ocr
AGENTS.md

gemini.md
GEMINI.md
.vercel
